<div class="hero" id="home">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="hero-content">
                    <div class="hero-text">
                        <p>I'm</p>
                        <h1>Prabin Shrestha</h1>
                        <h2></h2>
                        <div class="typed-text">Freelancer , Designer , Developer </div>
                    </div>
                    <div class="hero-btn">
                        <a class="btn" href="">Hire Me</a>
                        <a class="btn" href="">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image">
                    <img src="img/pic.png" alt="Hero Image">
                </div>
            </div>
        </div>
    </div>
</div>

//about
<div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="img/aboutpic.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header text-left">
                        <p>Learn About Me</p>

                    </div>
                    <div class="about-text">
                        <p>
                            My name is Prabin Shrestha I'm a IT student at Nepal collage of information Technology ,
                            Computer Science Department. I was born and raised in Nuwakot, kharanitar. I did +2 in
                            Computer Science from Nobel Academy, new baneshwor. Then I took lateral entry
                            for my IT .I like to travel. I believe travelling gives you a new perspective to
                            everything. You get to know a lot about the different cultures, the cuisines, their history,
                            the language and all the small unique things every place has to offer.
                        </p>
                    </div>

                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Service Start -->
<div class="service" id="service">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>What I do</p>
            <h2>Awesome Quality Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-pen-nib"></i>
                    </div>
                    <div class="service-text">
                        <h3>Design</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phase nec preti mi. Curabi facilis ornare velit non
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="service-text">
                        <h3>Web Development</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phase nec preti mi. Curabi facilis ornare velit non
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-poll"></i>
                    </div>
                    <div class="service-text">
                        <h3>Digital Marketing</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phase nec preti mi. Curabi facilis ornare velit non
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fab fa-apple"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Blog Start -->
<div class="blog" id="blog">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>From Blog</p>
            <h2>Latest Articles</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                        <img src="img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>Admin</p>
                            <p><i class="far fa-list-alt"></i>Web Design</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin
                            viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare
                            mattis nisl massa et eros vitae pulvin
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-img">
                        <img src="img/blog-2.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>Admin</p>
                            <p><i class="far fa-list-alt"></i>Apps Design</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>10</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Nullam commodo mattis mi. Nullam eu erat lectus. Proin
                            viverra risus vitae luctus. Proin ut ante, vitae sapien. Fusce sem ac erat rhoncus, ornare
                            mattis nisl massa et eros vitae pulvin
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->


<!-- Contact Start -->
<div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Name"
                                    required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Your Email"
                                    required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject"
                                    required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Message" required="required"
                                    data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block"></p>
                            </div>
                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<div style="background-image: url('/img/pic2.jpg')"></div>
<div class="wow fadeInUp">
    <section class="parallax-section head-pad">


        <div class="parallax-content">
            <div class="joinus-content-header travel-head-white">
                <p>Join & Trip <span> With Me</span></p>
            </div>
            <div class="parallax-content-text travel-head-white">
                <p>If You Have Any Project In Your Mind ?
                </p>
            </div>
            <br></br>
            <div class="read-btn blog-btn">
                <a href="#contact" class="btn btn-light">GET IN TOUCH</a>
            </div>
        </div>
    </section>

</div>
<ul class="ct-socials">
    <li>
        <a href="https://twitter.com/prabins91855673" target="_blank"><i class="fab fa-twitter"></i></i></a>
    </li>
    <li>
        <a href="https://www.facebook.com/prabin.shrestha.7169" target="_blank"><i class="fab fa-facebook"></i></a>
    </li>
    <li>
        <a href="https://github.com/prabinshrestha323" target="_blank"><i class="fab fa-github-square"></i></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/prabin-shrestha-4b5b78179/" target="_blank"><i
                class="fab fa-linkedin"></i></i></a>
    </li>

</ul>